{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
  <h1>{{ user.username }}'s Blacklist</h1>
  <div>
    {% if myblacklists %}
      <a href="{% url 'remove_all_from_my_blacklist' %}" class="btn btn-danger">Remove All</a>
    {% else %}
      <button class="btn btn-secondary" disabled>Nothing to remove</button>
    {% endif %}
  </div>
</div>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">URL</th>
        <th scope="col">IP address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if myblacklists %}
      {% for myblacklist in myblacklists %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ myblacklist.blacklist_entry.id }}</td>
              <td>{{ myblacklist.blacklist_entry.capturedpacket_entry.url }}</td>
              <td>{{ myblacklist.blacklist_entry.capturedpacket_entry.ip }}</td>
              <td>
                  <a href="{% url 'remove_from_my_blacklist' myblacklist.blacklist_entry.id %}" class="btn btn-danger">Remove</a>
              </td>
          </tr>
      {% endfor %}
  {% else %}
    <tr>
        <td colspan="5">You have no blacklist entries.</td>
    </tr>
  {% endif %}
  </tbody>  
</table>130.225.37.168
{% endblock %}
