{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>MySettings</h1>
    <br/>

    <h2>Security and Privacy</h2>
    <br/>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="autoAddBlacklist" 
            {% if settings.auto_add_blacklist %}checked{% endif %}>
        <label class="form-check-label" for="autoAddBlacklist">Auto add Central Blacklist entries</label>
    </div>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="logSuspiciousPackets" 
            {% if settings.log_suspicious_packets %}checked{% endif %}>
        <label class="form-check-label" for="logSuspiciousPackets">Log Suspicious Packets</label>
    </div>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="enableIpBlocking" 
            {% if settings.enable_ip_blocking %}checked{% endif %}>
        <label class="form-check-label" for="enableIpBlocking">Enable IP Blocking</label>
    </div>
    
    <h2>User Preferences</h2>
    <br/>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="darkMode" 
            {% if settings.dark_mode %}checked{% endif %}>
        <label class="form-check-label" for="darkMode">Dark Mode</label>
    </div>
    
    <h2>Notifications</h2>
    <br/>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="notifyBlacklistUpdates" 
            {% if settings.notify_blacklist_updates %}checked{% endif %}>
        <label class="form-check-label" for="notifyBlacklistUpdates">Receive Alerts for New Blacklist Entries</label>
    </div>
    <div class="form-check form-switch">
        <input 
            class="form-check-input" 
            type="checkbox" 
            role="switch" 
            id="notifySuspiciousActivity" 
            {% if settings.notify_suspicious_activity %}checked{% endif %}>
        <label class="form-check-label" for="notifySuspiciousActivity">Notify When Suspicious Activity is Detected</label>
    </div>
</div>
{% endblock %}
