{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>MySettings</h1>
    <br/>

    <h2>Security and Privacy</h2>
    <br/>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Auto add Central Blacklist entries</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Log Suspicious Packets</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Enable IP Blocking</label>
  </div>
    
  <h2>User Preferences</h2>
    <br/>
 <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
  </div>
    
  <h2>Notifications</h2>
    <br/>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Receive Alerts for New Blacklist Entries</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Notify When Suspicious Activity is Detected</label>
  </div>

  {% endblock %}
