{% extends 'base.html' %}

{% block content %}
<h1>Central Blacklist</h1>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">URL</th>
        <th scope="col">IP Address</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for blacklist in central_blacklist %}
        <tr>
          <th scope="row">{{ blacklist.id }}</th>
          <td>{{ blacklist.url }}</td>
          <td>{{ blacklist.ip }}</td>
          <td>
            {% if blacklist.id in user_blacklist_ids %}
              <button class="btn btn-secondary" disabled>Already added</button>
            {% else %}
              <a href="{% url 'add_to_my_blacklist' blacklist.id %}" class="btn btn-primary">Add</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
